// .cdg {
//   color: rgb(158, 154, 154) !important;
// }

// .bb-lightgrey {
//   border-bottom: 6px solid rgb(158, 154, 154) !important;
// }

// .bb-transparent {
//   border-bottom: 6px solid transparent !important;
// }

// .table-borderless tr * {
//   vertical-align: middle;
// }

// .border2px {
//   border: 2px solid rgb(158, 154, 154) !important;
// }

// .bb-2px {
//   border-bottom: 2px solid rgb(158, 154, 154) !important;
// }

// #productImage {
//   float: left;
//   width: 80px;
//   height: 80px;
//   object-fit: contain;
//   margin: 0px 0px 10px 0px;
// }

// .eightcol {
//   margin: 20px 0px 0px;
// }
// * {
//     color: black ;
// }
.cdg {
  color: rgb(158, 154, 154) !important;
}

.bb-lightgrey {
  border-bottom: 6px solid rgb(158, 154, 154) !important;
}

.bb-transparent {
  border-bottom: 6px solid transparent !important;
}

.table-borderless tr * {
  vertical-align: middle;
}

.border2px {
  border: 2px solid rgb(158, 154, 154) !important;
}

.bb-2px {
  border-bottom: 2px solid rgb(158, 154, 154) !important;
}

#productImage {
  float: left;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin: 0px 0px 35px 0px;
}

.fa-trash-o {
  float: right;
  cursor: pointer;
}

.fa-pencil {
  cursor: pointer;
}


// empty cart design
.emptyCart {
  width: 95%;
  margin: 20px auto 150px !important;
}

.emptyCart img {
  width: 100px;
}

#cartProductImage {
  width: 70px;
  height: 70px;
  object-fit: contain;
}


#cartProductImage img {
  border-radius: 3px !important;
}

#card {
  display: inline;
  font-weight: 700;
  padding-left: 7px;
}

#card_description {
  padding-left: 22px;
  margin: 0px;
}

#cardtype {
  padding-left: 22px;
  margin: 0px;
  color: red;
  font-size: 13px;
  margin: 0px;
}

#desc {
  margin: 0px;
}

#requiredFields {
  color: red;
  font-size: 13px;
  margin: 0px;
}

sup {
  color: red !important;
}

#rolling {
  width: 25px;
  margin: 0px 15px;
}
