<div class="w-100" *ngIf="!verifyCode && !newPassword">
  <h3 class="text-black pb-3 text-center">GRAVALDI</h3>
  <h5
    class="text-black font-weight-bold px-5 pb-0 text-center"
    style="line-height: normal"
  >
    RESET PASSWORD
  </h5>
  <small
    class="text-muted form-text px-4 pb-0 text-center"
    style="line-height: normal; font-size: x-small"
    >Enter Your Email To Send Password Reset Link And Instructions To How To
    Reset Your Password.</small
  >
  <div class="form-group">
    <label class="form-label"></label>
    <input
      type="text"
      class="form-control"
      name="email"
      [(ngModel)]="forgetPassword.email"
      placeholder="Email Address"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary form-control"
    (click)="reset()"
    [disabled]="forgetPassword.email == ''"
  >
    RESET
  </button>
</div>

<div class="w-100" *ngIf="verifyCode">
  <h3 class="text-black pb-3 text-center">GRAVALDI</h3>
  <h5
    class="text-black font-weight-bold px-5 pb-0 text-center"
    style="line-height: normal"
  >
    Verify Account
  </h5>
  <small
    class="text-muted form-text px-4 pb-0 text-center"
    style="line-height: normal; font-size: x-small"
    >Enter Your Email To Send Password Reset Link And Instructions To How To
    Reset Your Password.</small
  >
  <div class="form-group">
    <ng-otp-input
      (onInputChange)="onOtpChange($event)"
      [config]="optConfig"
    ></ng-otp-input>
    <label
      class="form-label"
      style="margin: 20px 0px 0px 0px"
      *ngIf="exitCondition != 0"
      >00:{{ exitCondition }} sec</label
    >
  </div>
</div>

<div class="w-100" *ngIf="newPassword">
  <h3 class="text-black pb-3 text-center">GRAVALDI</h3>
  <h5
    class="text-black font-weight-bold px-5 pb-0 text-center"
    style="line-height: normal"
  >
    RESET PASSWORD
  </h5>
  <small
    class="text-muted form-text px-4 pb-0 text-center"
    style="line-height: normal; font-size: x-small"
    >Enter Your Password Reset it.</small
  >
  <div class="form-group">
    <label class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      name="email"
      [(ngModel)]="passwordObj.password"
      placeholder="Password"
    />
  </div>
  <div class="form-group">
    <label class="form-label">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      name="email"
      [(ngModel)]="passwordObj.newpassword"
      placeholder="Confirm Password"
    />
  </div>
  <button
    type="submit"
    class="btn btn-primary form-control"
    (click)="passwordReset()"
  >
    Submit
  </button>
</div>
