<div class="row m-auto justify-content-center align-items-center" style="height: 300px;background-image: url('assets/aboutus.png'); background-size: cover;">
  <h1 class="font-weight-bolder text-white" style="    text-align: center;
  align-items: center;
  justify-content: center;">About Us</h1>
</div>
<div style="margin: 50px; text-align: center;">
  <h4 class="font-weight-bolder text-primary">COMPANY OVERVIEW</h4>
  <P>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates distinctio quam velit quidem non, officiis possimus consequatur suscipit porro aliquam autem ea reprehenderit accusamus deserunt dolorum nisi ipsa nihil placeat ab itaque! Alias quae, nulla maxime fuga excepturi neque omnis saepe, vel dolor, sint animi. Culpa beatae suscipit minima magni?
  </P>
  <h6 class="font-weight-bolder text-primary cursor-pointer">SEE MORE <i class="fas fa-arrow-right fa-1x ml-3"></i></h6>
</div>
<div class="text-white row m-auto justify-content-center align-items-center" style="text-align: center;height: 300px;background-image: url('assets/aboutus2.png'); background-size: cover;">
  <div>
    <h4 class="font-weight-bolder mb-4">Join The Team</h4>
    <p class="mb-0">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    </p>

  </div>
</div>
